@mixin before-circle {
  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: -25%;
    left: 0;
    width: 36px;
    height: 36px;
    border-radius: 100%;
    background: $main-color;
  }
}

@mixin before-small-circle {
  &:before {
    content: "";
    position: absolute;
    top: 2px;
    z-index: -1;
    left: -25px;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background: $main-color;
  }
}
