.sidepanel {
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: space-between;
  width: 338px;
  height: 24px;
  z-index: 2;
  transform: rotate(-90deg);
  top: 512px;
  &__divider {
    width: 70px;
    height: 2px;
    background-color: black;
  }
  &__link {
    width: 20px;
    height: 19px;
    transform: rotate(90deg);
    &:hover {
      transform: rotate(90deg) scale(1.3);
    }
  }
}
