.title {
  font-weight: bold;
  font-size: 36px;
  line-height: 60px;
  color: black;
  &_fs16 {
    font-size: 16px;
    line-height: 24px;
  }
  &_fs48 {
    font-size: 48px;
    line-height: 60px;
  }
  &_fs14 {
    font-size: 14px;
    line-height: 21px;
  }
  &_fs12 {
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
  }

//all titles
  &__section-title {
    position: relative;
    @include before-circle;
    &:before {
      top: -5px;
      left: 50%;
      transform: translate(-50%, 0);
    }
    text-align: center;
  }

  //all subtitles
  &__section-subtitle {
    text-align: center;
  }
}
